.homeSearchContainer {
  padding-top: 2rem;
  width: 100%;
}

.container {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.innerContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/Home.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.innerContainer .innerText {
  font-size: 2rem;
  text-align: center;
  color: black;
}

#specialText {
  font-size: 2.5rem;
  color: aqua;
}

/* Search Container */
.searchContainer {
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(0.25rem);
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #ccc;
}

#BuyHeading {
  font-size: 1.25rem;
  margin: 0;
}

#searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#searchBar {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#searchBar img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

#searchBar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
}

.searchBtn {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.searchBtn:hover {
  background-color: #0056b3;
}

#searchForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 900px;
}

/* Gives full width*/
#searchForm select {
  grid-column: 1 / -1;
}

/* Input & select field styling */
#searchForm input,
#searchForm select {
  padding: 10px 12px;
  font-size: 0.95rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

#searchForm input:focus,
#searchForm select:focus {
  border-color: #2c7a7b;
}

/* Submit button */
#searchForm button {
  padding: 12px 0;
  background-color: #2c7a7b;
  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100px;
}

@media (max-width: 768px) {
  #searchForm {
    grid-template-columns: 1fr;
  }
}
