.header {
  width: 80%;
  margin: 0 auto;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.logoText {
  font-size: 1.5rem;
}

.signInBtn {
  text-decoration: none;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
}
