@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");

.header {
  width: 80%;
  margin: 0 auto;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.logoText {
  font-size: 1.75rem;
  font-family: "Bonheur Royale" !important;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-style: italic;
}

.signInBtn {
  text-decoration: none;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .header {
    width: 100%;
    height: 4rem;
    padding: 1rem 2rem;
  }
}
