@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

main {
  padding: 30px;
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .favorites {
    order: -1;
    width: 100%;
  }
}
